<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zmy.mapper.TaskMapper">

    <resultMap id="TaskInfoMap" type="com.zmy.pojo.vo.TaskVo">
        <id column="task_id" property="taskId"/>
        <result column="user_id" property="userId"/>
        <result column="subject_id" property="subjectId"/>
        <result column="tag_id" property="tagId"/>
        <result column="task_name" property="taskName"/>
        <result column="description" property="description"/>
        <result column="deadline" property="deadline"/>
        <result column="priority" property="priority"/>
        <result column="status" property="status"/>
        <result column="remind_time" property="remindTime"/>
        <result column="create_time" property="createTime"/>
        <result column="finish_time" property="finishTime"/>
        <result column="tag_names" property="tagNames"/>
        <result column="subject_name" property="subjectName"/>
    </resultMap>

    <update id="updateInfo">
        update task
        <set>
            <if test="tagId != null and tagId.trim() != ''">
                tag_id = #{tagId},
            </if>
            <if test="taskName != null and taskName.trim() != ''">
                task_name = #{taskName},
            </if>
            <if test="description != null and description.trim() != ''">
                description = #{description},
            </if>
            <if test="priority != null and priority.trim() != ''">
                priority = #{priority},
            </if>
            <if test="status != null and status.trim() != ''">
                status = #{status},
            </if>
            <if test="deadline != null">
                deadline = #{deadline},
            </if>
            <if test="finishTime != null">
                finish_time = #{finishTime},
            </if>
        </set>
        where task_id = #{taskId}
    </update>

    <select id="listPage" resultMap="TaskInfoMap">
        select t.task_id,
        t.user_id,
        t.subject_id,
        t.tag_id,
        t.task_name,
        t.description,
        t.deadline,
        t.priority,
        t.status,
        t.remind_time,
        t.create_time,
        t.finish_time,
        s.subject_name,
        (SELECT GROUP_CONCAT(tg.tag_name)
        FROM tag tg
        WHERE FIND_IN_SET(CAST(tg.tag_id AS CHAR), t.tag_id) > 0
        ) AS tag_names
        from task t
        left join subject s on t.subject_id = s.subject_id
        <where>
            <if test="query.userId != null">
                AND user_id = #{query.userId}
            </if>
            <if test="query.subjectId != null">
                AND subject_id = #{query.subjectId}
            </if>
            <if test="query.taskName != null and query.taskName.trim() != ''">
                AND task_name like concat('%',#{query.taskName},'%')
            </if>
            <if test="query.priority != null and query.priority.trim() != ''">
                AND priority = #{query.priority}
            </if>
            <if test="query.status != null and query.status.trim() != ''">
                AND status = #{query.status}
            </if>
        </where>
    </select>

    <select id="getInfoById" resultMap="TaskInfoMap">
        select t.task_id,
               t.user_id,
               t.subject_id,
               t.tag_id,
               t.task_name,
               t.description,
               t.deadline,
               t.priority,
               t.status,
               t.remind_time,
               t.create_time,
               t.finish_time,
               s.subject_name,
               (SELECT GROUP_CONCAT(tg.tag_name)
                FROM tag tg
                WHERE FIND_IN_SET(CAST(tg.tag_id AS CHAR), t.tag_id) > 0) AS tag_names
        from task t
                 left join subject s on t.subject_id = s.subject_id
        where t.task_id = #{id}
    </select>

    <select id="listPageOfTodo" resultType="com.zmy.pojo.vo.TaskTodoVo">
    <![CDATA[
        SELECT t.task_id,
               t.user_id,
               t.subject_id,
               t.task_name,
               t.deadline,
               s.subject_name
        FROM task t
                 LEFT JOIN subject s ON t.subject_id = s.subject_id
        WHERE t.user_id = #{query.userId}
          AND t.status = '未完成'
          AND t.deadline >= #{query.startTime}
          AND t.deadline < #{query.endTime}
        ]]>
    </select>

    <select id="listPageOfDeadline" resultType="com.zmy.pojo.vo.TaskTodoVo">
        <![CDATA[
        SELECT t.task_id,
               t.user_id,
               t.subject_id,
               t.task_name,
               t.deadline,
               s.subject_name
        FROM task t
                 LEFT JOIN subject s ON t.subject_id = s.subject_id
        WHERE t.user_id = #{query.userId}
          AND t.status = '未完成'
          AND t.deadline >= #{query.startTime}
          AND t.deadline < #{query.endTime}
        ]]>
    </select>

</mapper>
